<%= form_for @task do |f| %>
    <div class =”form-group”>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

    <div class =”form-group”>
        <%= f.label :details %>
        <%= f.text_field :details %>
    </div>

    <% unless @task.new_record? %>
      <div class =”form-group”>
        <% if @task.completed %>
          <%= f.label :unmark_as_complete %>
          <%= f.check_box :completed, {}, false, false %>
        <% else %>
          <%= f.label :mark_as_complete %>
          <%= f.check_box :completed, {}, true, false %>
        <% end %>
      </div>
    <% end %>

    <%= f.submit %>
<% end %>
